kbd {
  background: #303742;
  border-radius: 0.1rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
}

p code {
  background: #fcf2f2;
  border-radius: 0.1rem;
  color: #d73e48;
  font-size: 85%;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
}

mark {
  background: #ffe9b3;
  border-bottom: 0.05rem solid #ffd367;
  border-radius: 0.1rem;
  color: #3b4351;
  padding: 0.05rem 0.1rem 0;
}

blockquote {
  border-left: 0.1rem solid #dadee4;
  margin-left: 0;
  padding: 0.4rem 0.8rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

p {
  text-align: justify;
}

.bun-post-content a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.bun-post-content a:hover {
  color: rgba(0, 0, 0, 0.85);
}
