kbd {
  background: #303742;
  border-radius: 0.1rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
}

code {
  background: #fcf2f2;
  border-radius: 0.1rem;
  color: #d73e48;
  font-size: 85%;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
}

pre code {
  font-size: initial;
  line-height: initial;
  color: initial;
}

mark {
  background: #ffe9b3;
  border-bottom: 0.05rem solid #ffd367;
  border-radius: 0.1rem;
  color: #3b4351;
  padding: 0.05rem 0.1rem 0;
}

blockquote {
  border-left: 0.1rem solid #dadee4;
  margin-left: 0;
  padding: 0.4rem 0.8rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.bun-tooltip {
  position: relative;
}

.bun-tooltip::after {
  background: rgba(48, 55, 66, 0.95);
  border-radius: 0.1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 0.7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, 0.4rem);
  transition: opacity 0.2s, transform 0.2s;
  white-space: pre;
  z-index: 300;
}

.bun-tooltip:focus::after,
.bun-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2rem);
}

.bun-tooltip[disabled],
.bun-tooltip.bun-disabled {
  pointer-events: auto;
}

.bun-tooltip.bun-tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-0.2rem, 50%);
}

.bun-tooltip.bun-tooltip-right:focus::after,
.bun-tooltip.bun-tooltip-right:hover::after {
  transform: translate(0.2rem, 50%);
}

.bun-tooltip.bun-tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -0.4rem);
}

.bun-tooltip.bun-tooltip-bottom:focus::after,
.bun-tooltip.bun-tooltip-bottom:hover::after {
  transform: translate(-50%, 0.2rem);
}

.bun-tooltip.bun-tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(0.4rem, 50%);
}

.bun-tooltip.bun-tooltip-left:focus::after,
.bun-tooltip.bun-tooltip-left:hover::after {
  transform: translate(-0.2rem, 50%);
}

.bun-post-content a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.bun-post-content a:hover {
  color: rgba(0, 0, 0, 0.85);
}

.bun-post-content p img {
  box-shadow: #666 0px 0px 20px 0px;
  max-width: 100%;
}

/* 临时公告：切换域名提示 */

#domain-migration-notification .ant-alert-description {
  text-align: center;
}

#domain-migration-notification .ant-alert-icon {
  line-height: 24px;
}
