kbd {
  background: #303742;
  border-radius: 0.1rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.25;
  padding: 0.1rem 0.2rem;
}

code {
  background: none !important;
  color: #d73e48 !important;
}

pre code {
  font-size: initial;
  line-height: initial;
  color: initial;
}

mark {
  background: #ffe9b3;
  border-bottom: 0.05rem solid #ffd367;
  border-radius: 0.1rem;
  color: #3b4351;
  padding: 0.05rem 0.1rem 0;
}

blockquote {
  /* grey lighten-2 */
  border-left: 0.2rem solid #e0e0e0;
  margin-left: 0;
  padding: 0.4rem 0.8rem;
  /* grey lighten-3 */
  background-color: #eeeeee;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote footer {
  font-size: 1rem;
}

.bun-tooltip {
  position: relative;
}

.bun-tooltip::after {
  background: rgba(48, 55, 66, 0.95);
  border-radius: 0.1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 0.7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, 0.4rem);
  transition: opacity 0.2s, transform 0.2s;
  white-space: pre;
  z-index: 300;
}

.bun-tooltip:focus::after,
.bun-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2rem);
}

.bun-tooltip[disabled],
.bun-tooltip.bun-disabled {
  pointer-events: auto;
}

.bun-tooltip.bun-tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-0.2rem, 50%);
}

.bun-tooltip.bun-tooltip-right:focus::after,
.bun-tooltip.bun-tooltip-right:hover::after {
  transform: translate(0.2rem, 50%);
}

.bun-tooltip.bun-tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -0.4rem);
}

.bun-tooltip.bun-tooltip-bottom:focus::after,
.bun-tooltip.bun-tooltip-bottom:hover::after {
  transform: translate(-50%, 0.2rem);
}

.bun-tooltip.bun-tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(0.4rem, 50%);
}

.bun-tooltip.bun-tooltip-left:focus::after,
.bun-tooltip.bun-tooltip-left:hover::after {
  transform: translate(-0.2rem, 50%);
}

.bun-post-content a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.bun-post-content a:hover {
  color: rgba(0, 0, 0, 0.85);
}

.bun-post-content p img {
  box-shadow: #666 0px 0px 20px 0px;
  max-width: 100%;
}

/* 
highlight.js solarized-light style
由于 vuetify 为 <code> 添加了样式，而且 cdn link 引入 hightlight 的样式排在 vuetify 的前面
导致样式不能正确显示，所以将 hightlight 的样式集成到项目中，提高优先级 
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3 !important;
  color: #657b83 !important;
}

.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* 自定义的 hightlight 样式 */
.hljs {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 1em !important;
  font-weight: normal !important;
  padding: 1em !important;
}

/* 博文 title 样式 */
.blog-header .title-category {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.blog-header .title-tag,
.blog-header .title-category {
  /* blue-grey darken-4 + 0.1 透明度*/
  background-color: rgba(39, 50, 56, 0.1) !important;
}

/* 博文正文样式 */
.blog-post-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
  /* #757575 = grey darken-1 */
  box-shadow: 0 0 10px #757575;
  transition: box-shadow 0.6s !important;
}

.blog-post-content img:hover {
  /* #616161 = grey darken-2 */
  box-shadow: 0 0 16px #616161;
  transition: box-shadow 0.6s !important;
}

.blog-post-content a,
.bun-blog-post-link a {
  color: inherit !important;
  text-decoration: underline !important;
  transition: color 1s !important;
}

.blog-post-content a:hover,
.bun-blog-post-link a:hover {
  /* light-blue darken-1 */
  color: #039be5 !important;
  transition: color 1s !important;
}

.bun-blog-footer-link a {
  color: inherit !important;
  text-decoration: none !important;
  transition: color 1s !important;
}

.bun-blog-footer-link a:hover {
  /* blue-grey lighten-5 */
  color: #eceff1 !important;
  transition: color 1s !important;
}

.blog-post-container p {
  font-size: 1.06rem;
}

.blog-post-container code,
.blog-post-container kbd,
.blog-post-container pre,
.blog-post-container samp {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}
